/* Estilo para Mobile */
@media screen and (max-width: 760px){
    nav{
        display: none;
    }

    main{
        flex-direction: column;
        margin: 0;
    }

    h2{
        font-size: 20px;
    }

    form{
        margin: 0 auto;
        width: 100%
    }

    input{
        height: 30px;
        width: 70%;
    }

    textarea{
        width: 70%
    }

    form [type="submit"]{
        height: 40px;
        width: 73%;
    }
}